integ-acta/src/main/resources/wsdl/managementWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ManagementService" targetNamespace="managementservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:management="management.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="managementservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema targetNamespace="common.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:management="management.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="managementservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Common.xsd"/>
		</xsd:schema>
<xsd:schema targetNamespace="management.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:management="management.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="managementservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-Management.xsd"/>
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS?xsd=ACARIS-ManagementMessaging.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getVitalRecordCodeResponse">
    <wsdl:part element="management:getVitalRecordCodeResponse" name="output">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVitalRecordCodeRequest">
    <wsdl:part element="management:getVitalRecordCode" name="input">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAnnotazioniResponse">
    <wsdl:part element="management:addAnnotazioniResponse" name="output">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part element="common:acarisFault" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAnnotazioniRequest">
    <wsdl:part element="management:addAnnotazioni" name="input">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ManagementServicePort">
    <wsdl:operation name="getVitalRecordCode">
      <wsdl:input message="tns:getVitalRecordCodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getVitalRecordCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:acarisException" name="getVitalRecordCodeFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAnnotazioni">
      <wsdl:input message="tns:addAnnotazioniRequest">
    </wsdl:input>
      <wsdl:output message="tns:addAnnotazioniResponse">
    </wsdl:output>
      <wsdl:fault message="tns:acarisException" name="addAnnotazioniFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagementServiceBinding" type="tns:ManagementServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVitalRecordCode">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getVitalRecordCodeFault">
        <soap:fault name="getVitalRecordCodeFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAnnotazioni">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="addAnnotazioniFault">
        <soap:fault name="addAnnotazioniFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagementService">
    <wsdl:port binding="tns:ManagementServiceBinding" name="ManagementServicePort">
      <!--<soap:address location="http://tst-applogic.reteunitaria.piemonte.it/actasrv/managementWS"/>-->
      <soap:address location="${acta-location}/managementWS"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>