integ-acta/src/main/resources/wsdl/multifillingWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MultifilingService" targetNamespace="multifilingservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:common="common.acaris.acta.doqui.it" xmlns:tns="multifilingservice.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:archive="archive.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include
				schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-Common.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="archive.acaris.acta.doqui.it">
			<xsd:include
				schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-Archive.xsd" />
			<xsd:include
				schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-ArchiveMessaging.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="acarisException">
		<wsdl:part element="common:acarisFault" name="fault">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aggiungiClassificazioneResponse">
		<wsdl:part element="archive:aggiungiClassificazioneResponse"
			name="output">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAssociativeObjectToFolderRequest">
		<wsdl:part element="archive:addAssociativeObjectToFolder"
			name="input">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="aggiungiClassificazioneRequest">
		<wsdl:part element="archive:aggiungiClassificazione"
			name="input">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAssociativeObjectToFolderResponse">
		<wsdl:part
			element="archive:addAssociativeObjectToFolderResponse" name="output">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MultifilingServicePort">
		<wsdl:operation name="addAssociativeObjectToFolder">
			<wsdl:input
				message="tns:addAssociativeObjectToFolderRequest">
			</wsdl:input>
			<wsdl:output
				message="tns:addAssociativeObjectToFolderResponse">
			</wsdl:output>
			<wsdl:fault message="tns:acarisException"
				name="addAssociativeObjectToFolderFault">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="aggiungiClassificazione">
			<wsdl:input message="tns:aggiungiClassificazioneRequest">
			</wsdl:input>
			<wsdl:output
				message="tns:aggiungiClassificazioneResponse">
			</wsdl:output>
			<wsdl:fault message="tns:acarisException"
				name="aggiungiClassificazioneFault">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MultifilingServiceBinding"
		type="tns:MultifilingServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addAssociativeObjectToFolder">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="addAssociativeObjectToFolderFault">
				<soap:fault name="addAssociativeObjectToFolderFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="aggiungiClassificazione">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="aggiungiClassificazioneFault">
				<soap:fault name="aggiungiClassificazioneFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultifilingService">
		<wsdl:port binding="tns:MultifilingServiceBinding" name="MultifilingServicePort">
			<!-- <soap:address location="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS" />-->
			<soap:address location="${acta-location}/multifillingWS"></soap:address>	
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>