integ-acta/src/main/resources/wsdl/old/admin--acaris-test-backofficev1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BackOfficeService" targetNamespace="backofficeservice.acaris.acta.doqui.it" xmlns:backoffice="backoffice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:common="common.acaris.acta.doqui.it" xmlns:tns="backofficeservice.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/backofficeWS?xsd=ACARIS-Common.xsd"/>
		</xsd:schema>
    <xsd:schema targetNamespace="backoffice.acaris.acta.doqui.it">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/backofficeWS?xsd=ACARIS-BackOffice.xsd"/>
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/backofficeWS?xsd=ACARIS-BackOfficeMessaging.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPrincipalResponse">
    <wsdl:part name="output" element="backoffice:getPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescendantsResponse">
    <wsdl:part name="output" element="backoffice:getDescendantsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part name="input" element="common:query">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryableObjectsRequest">
    <wsdl:part name="input" element="backoffice:getQueryableObjects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryableObjectsResponse">
    <wsdl:part name="output" element="backoffice:getQueryableObjectsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part name="output" element="common:queryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalExtRequest">
    <wsdl:part name="input" element="backoffice:getPrincipalExt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectParentsRequest">
    <wsdl:part name="input" element="backoffice:getObjectParents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveResponse">
    <wsdl:part name="output" element="common:getPropertiesMassiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDescendantsRequest">
    <wsdl:part name="input" element="backoffice:getDescendants">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalExtResponse">
    <wsdl:part name="output" element="backoffice:getPrincipalExtResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelazioniStrutturaResponse">
    <wsdl:part name="output" element="backoffice:getRelazioniStrutturaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDettaglioAOORequest">
    <wsdl:part name="input" element="backoffice:getDettaglioAOO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDettaglioAOOResponse">
    <wsdl:part name="output" element="backoffice:getDettaglioAOOResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelazioniStrutturaRequest">
    <wsdl:part name="input" element="backoffice:getRelazioniStruttura">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryableObjectMetadataResponse">
    <wsdl:part name="output" element="backoffice:getQueryableObjectMetadataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveRequest">
    <wsdl:part name="input" element="common:getPropertiesMassive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDettaglioStrutturaResponse">
    <wsdl:part name="output" element="backoffice:getDettaglioStrutturaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part name="output" element="backoffice:getPropertiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalRequest">
    <wsdl:part name="input" element="backoffice:getPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectParentsResponse">
    <wsdl:part name="output" element="backoffice:getObjectParentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryableObjectMetadataRequest">
    <wsdl:part name="input" element="backoffice:getQueryableObjectMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDettaglioStrutturaRequest">
    <wsdl:part name="input" element="backoffice:getDettaglioStruttura">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesRequest">
    <wsdl:part name="input" element="backoffice:getProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BackOfficeServicePort">
    <wsdl:operation name="getPrincipal">
      <wsdl:input message="tns:getPrincipalRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPrincipalResponse">
    </wsdl:output>
      <wsdl:fault name="getPrincipalFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalExt">
      <wsdl:input message="tns:getPrincipalExtRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPrincipalExtResponse">
    </wsdl:output>
      <wsdl:fault name="getPrincipalExtFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDescendants">
      <wsdl:input message="tns:getDescendantsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDescendantsResponse">
    </wsdl:output>
      <wsdl:fault name="getDescendantsFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <wsdl:input message="tns:getObjectParentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getObjectParentsResponse">
    </wsdl:output>
      <wsdl:fault name="getObjectParentsFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRelazioniStruttura">
      <wsdl:input message="tns:getRelazioniStrutturaRequest">
    </wsdl:input>
      <wsdl:output message="tns:getRelazioniStrutturaResponse">
    </wsdl:output>
      <wsdl:fault name="getRelazioniStrutturaFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <wsdl:input message="tns:getPropertiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPropertiesResponse">
    </wsdl:output>
      <wsdl:fault name="getPropertiesFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <wsdl:input message="tns:getPropertiesMassiveRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPropertiesMassiveResponse">
    </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDettaglioAOO">
      <wsdl:input message="tns:getDettaglioAOORequest">
    </wsdl:input>
      <wsdl:output message="tns:getDettaglioAOOResponse">
    </wsdl:output>
      <wsdl:fault name="getDettaglioAOOFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDettaglioStruttura">
      <wsdl:input message="tns:getDettaglioStrutturaRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDettaglioStrutturaResponse">
    </wsdl:output>
      <wsdl:fault name="getDettaglioStrutturaFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryableObjects">
      <wsdl:input message="tns:getQueryableObjectsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getQueryableObjectsResponse">
    </wsdl:output>
      <wsdl:fault name="getQueryableObjectsFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryableObjectMetadata">
      <wsdl:input message="tns:getQueryableObjectMetadataRequest">
    </wsdl:input>
      <wsdl:output message="tns:getQueryableObjectMetadataResponse">
    </wsdl:output>
      <wsdl:fault name="getQueryableObjectMetadataFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
    </wsdl:output>
      <wsdl:fault name="queryFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackOfficeServiceBinding" type="tns:BackOfficeServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPrincipal">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPrincipalFault">
        <soap:fault name="getPrincipalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalExt">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPrincipalExtFault">
        <soap:fault name="getPrincipalExtFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDescendants">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getDescendantsFault">
        <soap:fault name="getDescendantsFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getObjectParentsFault">
        <soap:fault name="getObjectParentsFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRelazioniStruttura">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRelazioniStrutturaFault">
        <soap:fault name="getRelazioniStrutturaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPropertiesFault">
        <soap:fault name="getPropertiesFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault">
        <soap:fault name="getPropertiesMassiveFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDettaglioAOO">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getDettaglioAOOFault">
        <soap:fault name="getDettaglioAOOFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDettaglioStruttura">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getDettaglioStrutturaFault">
        <soap:fault name="getDettaglioStrutturaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryableObjects">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getQueryableObjectsFault">
        <soap:fault name="getQueryableObjectsFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryableObjectMetadata">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getQueryableObjectMetadataFault">
        <soap:fault name="getQueryableObjectMetadataFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="queryFault">
        <soap:fault name="queryFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackOfficeService">
    <wsdl:port name="BackOfficeServicePort" binding="tns:BackOfficeServiceBinding">
      <soap:address location="http://tst-api-piemonte.ecosis.csi.it/documentale/acaris-test-backoffice/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
