integ-acta/src/main/resources/wsdl/old/admin--acaris-test-documentv1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocumentService" targetNamespace="documentservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:common="common.acaris.acta.doqui.it" xmlns:document="document.acaris.acta.doqui.it" xmlns:tns="documentservice.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:archive="archive.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/documentWS?xsd=ACARIS-Common.xsd"/>
			<xsd:import namespace="archive.acaris.acta.doqui.it" schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/documentWS?xsd=ACARIS-Archive.xsd"/>
		</xsd:schema>
    <xsd:schema targetNamespace="document.acaris.acta.doqui.it">
			<xsd:import namespace="documentservice.acaris.acta.doqui.it" schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/documentWS?xsd=ACARIS-Document.xsd"/>
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/documentWS?xsd=ACARIS-DocumentMessaging.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="trasformaDocumentoPlaceholderInDocumentoElettronicoResponse">
    <wsdl:part name="output" element="document:trasformaDocumentoPlaceholderInDocumentoElettronicoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trasformaDocumentoPlaceholderInDocumentoElettronicoRequest">
    <wsdl:part name="input" element="document:trasformaDocumentoPlaceholderInDocumentoElettronico">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadContenutoFisicoResponse">
    <wsdl:part name="output" element="document:uploadContenutoFisicoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creaDocumentoRequest">
    <wsdl:part name="input" element="document:creaDocumento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creaDocumentoFisicoInDocumentRootRequest">
    <wsdl:part name="input" element="document:creaDocumentoFisicoInDocumentRoot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveResponse">
    <wsdl:part name="output" element="common:getPropertiesMassiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creaDocumentoResponse">
    <wsdl:part name="output" element="document:creaDocumentoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creaDocumentoFisicoInDocumentRootResponse">
    <wsdl:part name="output" element="document:creaDocumentoFisicoInDocumentRootResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRappresentazioneDocumentoRequest">
    <wsdl:part name="input" element="document:getRappresentazioneDocumento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRappresentazioneDocumentoResponse">
    <wsdl:part name="output" element="document:getRappresentazioneDocumentoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadContenutoFisicoRequest">
    <wsdl:part name="input" element="document:uploadContenutoFisico">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveRequest">
    <wsdl:part name="input" element="common:getPropertiesMassive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentServicePort">
    <wsdl:operation name="creaDocumento">
      <wsdl:input message="tns:creaDocumentoRequest">
    </wsdl:input>
      <wsdl:output message="tns:creaDocumentoResponse">
    </wsdl:output>
      <wsdl:fault name="creaDocumentoFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRappresentazioneDocumento">
      <wsdl:input message="tns:getRappresentazioneDocumentoRequest">
    </wsdl:input>
      <wsdl:output message="tns:getRappresentazioneDocumentoResponse">
    </wsdl:output>
      <wsdl:fault name="getRappresentazioneDocumentoFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <wsdl:input message="tns:getPropertiesMassiveRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPropertiesMassiveResponse">
    </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="trasformaDocumentoPlaceholderInDocumentoElettronico">
      <wsdl:input message="tns:trasformaDocumentoPlaceholderInDocumentoElettronicoRequest">
    </wsdl:input>
      <wsdl:output message="tns:trasformaDocumentoPlaceholderInDocumentoElettronicoResponse">
    </wsdl:output>
      <wsdl:fault name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creaDocumentoFisicoInDocumentRoot">
      <wsdl:input message="tns:creaDocumentoFisicoInDocumentRootRequest">
    </wsdl:input>
      <wsdl:output message="tns:creaDocumentoFisicoInDocumentRootResponse">
    </wsdl:output>
      <wsdl:fault name="creaDocumentoFisicoInDocumentRootFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadContenutoFisico">
      <wsdl:input message="tns:uploadContenutoFisicoRequest">
    </wsdl:input>
      <wsdl:output message="tns:uploadContenutoFisicoResponse">
    </wsdl:output>
      <wsdl:fault name="uploadContenutoFisicoFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentServiceBinding" type="tns:DocumentServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="creaDocumento">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="creaDocumentoFault">
        <soap:fault name="creaDocumentoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRappresentazioneDocumento">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getRappresentazioneDocumentoFault">
        <soap:fault name="getRappresentazioneDocumentoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="trasformaDocumentoPlaceholderInDocumentoElettronico">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault">
        <soap:fault name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault">
        <soap:fault name="getPropertiesMassiveFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creaDocumentoFisicoInDocumentRoot">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="creaDocumentoFisicoInDocumentRootFault">
        <soap:fault name="creaDocumentoFisicoInDocumentRootFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadContenutoFisico">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="uploadContenutoFisicoFault">
        <soap:fault name="uploadContenutoFisicoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="DocumentServicePort" binding="tns:DocumentServiceBinding">
      <soap:address location="http://tst-api-piemonte.ecosis.csi.it/documentale/acaris-test-document/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
