integ-acta/src/main/resources/wsdl/old/admin--acaris-test-multifillingv1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MultifilingService" targetNamespace="multifilingservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:common="common.acaris.acta.doqui.it" xmlns:tns="multifilingservice.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:archive="archive.acaris.acta.doqui.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-Common.xsd"/>
		</xsd:schema>
    <xsd:schema targetNamespace="archive.acaris.acta.doqui.it">
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-Archive.xsd"/>
			<xsd:include schemaLocation="http://tst-applogic.reteunitaria.piemonte.it/actasrv/multifillingWS?xsd=ACARIS-ArchiveMessaging.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="addAssociativeObjectToFolderResponse">
    <wsdl:part name="output" element="archive:addAssociativeObjectToFolderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAssociativeObjectToFolderRequest">
    <wsdl:part name="input" element="archive:addAssociativeObjectToFolder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aggiungiClassificazioneRequest">
    <wsdl:part name="input" element="archive:aggiungiClassificazione">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aggiungiClassificazioneResponse">
    <wsdl:part name="output" element="archive:aggiungiClassificazioneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MultifilingServicePort">
    <wsdl:operation name="addAssociativeObjectToFolder">
      <wsdl:input message="tns:addAssociativeObjectToFolderRequest">
    </wsdl:input>
      <wsdl:output message="tns:addAssociativeObjectToFolderResponse">
    </wsdl:output>
      <wsdl:fault name="addAssociativeObjectToFolderFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="aggiungiClassificazione">
      <wsdl:input message="tns:aggiungiClassificazioneRequest">
    </wsdl:input>
      <wsdl:output message="tns:aggiungiClassificazioneResponse">
    </wsdl:output>
      <wsdl:fault name="aggiungiClassificazioneFault" message="tns:acarisException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultifilingServiceBinding" type="tns:MultifilingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addAssociativeObjectToFolder">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="addAssociativeObjectToFolderFault">
        <soap:fault name="addAssociativeObjectToFolderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="aggiungiClassificazione">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="aggiungiClassificazioneFault">
        <soap:fault name="aggiungiClassificazioneFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultifilingService">
    <wsdl:port name="MultifilingServicePort" binding="tns:MultifilingServiceBinding">
      <soap:address location="http://tst-api-piemonte.ecosis.csi.it/documentale/acaris-test-multifilling/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
