integ-stilo/src/main/resources/wsdl/AggiornaRichiestaAccessoAtti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 (http://www.altova.com) by Valentina Martinucci (Engineering) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:simpleType name="TelFaxType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="(\p{IsBasicLatin}{5,12})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string">
			<xs:minLength value="7"/>
			<xs:maxLength value="256"/>
			<xs:pattern value=".+@.+[.]+.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodiceFiscaleType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{11,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodiceFiscalePFType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ResponseAggiornaRichiesta">
		<xs:annotation>
			<xs:documentation>Root element della response della richiesta di aggiornamento di una richiesta accesso atti</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Errore" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Messaggio di errore in caso di EsitoVerifica = KO</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Codice" use="required">
									<xs:annotation>
										<xs:documentation>Codice che identifica il tipo di errore riscontrato</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="001">
												<xs:annotation>
													<xs:documentation>Protocollo di richiesta inesistente</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="002">
												<xs:annotation>
													<xs:documentation>Richiesta non ancora evasa dall'ufficio: appuntamento non prenotabile</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="003">
												<xs:annotation>
													<xs:documentation>Richiesta con appuntamento scaduto: nuovo appuntamento non ancora prenotabile</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="004">
												<xs:annotation>
													<xs:documentation>L'appuntamento da annullare non risulta</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="005">
												<xs:annotation>
													<xs:documentation>Appuntamento già associato ad altra richiesta</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="006">
												<xs:annotation>
													<xs:documentation>Dati mancanti e/o erroneamente valorizzati</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="999">
												<xs:annotation>
													<xs:documentation>Errore generico</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Esito" use="required">
				<xs:annotation>
					<xs:documentation>Esito della richiesta: OK = successo, KO = errore</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK"/>
						<xs:pattern value="KO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestAggiornaRichiesta">
		<xs:annotation>
			<xs:documentation>Root element della richiesta di aggiornamento di una richiesta accesso atti</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Anno" type="xs:gYear">
					<xs:annotation>
						<xs:documentation>Anno di protocollo della richiesta di accesso atti da aggiornare</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Nro">
					<xs:annotation>
						<xs:documentation>Nro di protocollo della richiesta di accesso atti da aggiornare</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:totalDigits value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Appuntamento">
					<xs:annotation>
						<xs:documentation>Dati dell'appuntamento</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Richiedente">
								<xs:annotation>
									<xs:documentation>Persone fisica intestataria della richiesta di accesso atti</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cognome">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
													<xs:minLength value="1"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nome">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="250"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UserID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>User ID del richiedente sul sistema di prenotazione</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodFiscale" type="CodiceFiscalePFType" minOccurs="0"/>
										<xs:element name="Email" type="EmailType" minOccurs="0"/>
										<xs:element name="Tel" type="TelFaxType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Delegante" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dati di colui per cui viene preso l'appuntamento (se diverso dal richiedente)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cognome_Denominazione" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Cognome o denominazione in caso di persona giuridica</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
													<xs:minLength value="1"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nome" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nome in caso di persona fisica</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="250"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodFiscale" type="CodiceFiscaleType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Codice fiscale  o partita IVA</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Email" type="EmailType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NominativoPresenza" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nominativo di chi si presenterà all'appuntamento (se diverso dal richiedente)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cognome">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
													<xs:minLength value="1"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nome">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="250"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodFiscale" type="CodiceFiscalePFType" minOccurs="0"/>
										<xs:element name="Email" type="EmailType" minOccurs="0"/>
										<xs:element name="Tel" type="TelFaxType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="DaAnnullare" type="xs:boolean" use="required">
							<xs:annotation>
								<xs:documentation>Indca se l'appuntamento già fissato in precedenza è da annullare</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="UID">
							<xs:annotation>
								<xs:documentation>Identificativo univoco dell'appuntamento su CRM. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="AppCode">
							<xs:annotation>
								<xs:documentation>Codice dell'appuntamento su CRM. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="DataOra" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Data e ora dell'appuntamento. Obbligatorio se DaAnnullare=false</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
