integ-stilo/src/main/resources/wsdl/AggiornaAnagrafeClassiDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 (http://www.altova.com) by Valentina Martinucci (Engineering) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:complexType name="ClasseSottoclasseType">
		<xs:annotation>
			<xs:documentation>Contiene il data model di una classe o sottoclasse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Attributi" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attributo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Label">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="64"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RegExp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Espressione regolare di controllo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="350"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Tipo">
										<xs:annotation>
											<xs:documentation>Tipo di dato (stringa, numerico, ecc)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="Boolean"/>
												<xs:pattern value="Double"/>
												<xs:pattern value="ID"/>
												<xs:pattern value="Integer"/>
												<xs:pattern value="String"/>
												<xs:pattern value="Time"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Dimensione" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Rappresenta la dimensione massima che può assumere l’attributo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:totalDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Ripetibile" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Indica se l'attributo è ripetibile</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ValoriAmmessi" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Se vi sono restrizioni sui valori ammessi dall'attributo qui sono riportati i valori ammessi</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ValoreAmmesso" maxOccurs="unbounded">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="nome" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="32"/>
											<xs:whiteSpace value="collapse"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Tipologie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipologie documentali</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tipologia" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="30"/>
											<xs:whiteSpace value="replace"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="descrizione" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="300"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="valida" type="xs:boolean" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="nome" use="required">
			<xs:annotation>
				<xs:documentation>Nome identificativo della classe o sottoclasse</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="300"/>
					<xs:whiteSpace value="collapse"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="descrizione" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="300"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ResponseAggiornaAnagrafeClassiDoc">
		<xs:annotation>
			<xs:documentation>Root element della response della richiesta di aggiornamento dei dati delle classi documentali</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Errori" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Errori rilevati che hanno determinato l'esito KO</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Errore" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Messaggio di errore</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="codice" use="required">
												<xs:annotation>
													<xs:documentation>Codice che identifica il tipo di errore riscontrato</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="999">
															<xs:annotation>
																<xs:documentation>Errore generico</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="001">
															<xs:annotation>
																<xs:documentation>Dati obbligatori mancanti</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="002">
															<xs:annotation>
																<xs:documentation>Dati non coerenti</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="003">
															<xs:annotation>
																<xs:documentation>Modifica non consentita</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="nomeClasse" type="xs:string">
												<xs:annotation>
													<xs:documentation>Nome della classe su cui è stato riscontrato l'errore</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="nomeSottoclasse" type="xs:string">
												<xs:annotation>
													<xs:documentation>Nome della sottoclasse su cui è stato riscontrato l'errore</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="idTipologia" type="xs:string">
												<xs:annotation>
													<xs:documentation>Id, della tipologia su cui è stato riscontrato l'errore</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="nomeAttributo" type="xs:string">
												<xs:annotation>
													<xs:documentation>Nome identificativo dell'attributo su cui è stato riscontrato l'errore</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="esito" use="required">
				<xs:annotation>
					<xs:documentation>Esito della richiesta: OK = successo, KO = errore</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="OK"/>
						<xs:pattern value="KO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestAggiornaAnagrafeClassiDoc">
		<xs:annotation>
			<xs:documentation>Root element della richiesta di aggiornamento di una di aggiornamento dei dati delle classi documentali</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Classi">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Classe" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ClasseSottoclasseType">
											<xs:sequence minOccurs="0">
												<xs:element name="SottoClassi" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Sottoclasse" type="ClasseSottoclasseType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
