integ-stilo/src/main/resources/wsdl/ModifyAttrCustom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="FlagSiNoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagConsentiNegaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="C|N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OggDiTabDiSistemaType">
		<xs:annotation>
			<xs:documentation>Rappresenta un oggetto censito in una tabella di sistema del sistema documentale</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="CodId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificativo del dato di sistema nella banca dati del sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decodifica_Nome" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UOType">
		<xs:annotation>
			<xs:documentation>Indica una UO attraverso il suo identificativo o attarverso i suoi livelli o attraverso la sua denominazione. <!-- Ad esempio il "Servizio 10 del Settore 2" si può indicare come <my_element>  
	<LivelloUO Nro=1 Cod=2> </LivelloUO>
	<LivelloUO Nro=2 Cod=10> </LivelloUO>
<my_element> -->
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdUO" type="xs:integer" minOccurs="0"/>
			<xs:element name="LivelloUO" type="LivelloGerarchiaType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DenominazioneUO" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Può essere la denominazione semplice della UO o quest'ultima preceduta dalle denominazioni delle UO di livello superiore (separate da " | "). Es:  "Ufficio Rilasci" o "Settore Edilizia | Ufficio Rilasci"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScrivaniaVirtualeType">
		<xs:annotation>
			<xs:documentation>La scrivania virtuale rappresenta un utente non come persona fisica, ma nella funzione che svolge presso una certa UO. Può essere indicata univocamente indicando UO e utente; oppure il sistema può cercare di identificarla anche o solo a partire dalla sua descrizione</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="UO" type="UOType"/>
			<xs:element name="Utente" type="UserType"/>
			<xs:element name="DesScrivaniaVirt" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DatiAttributo">
		<xs:sequence>
			<xs:element name="NomeAttributo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nuovo nome identificativo dell'attributo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Label" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Label con cui l'attributo appare nella GUI</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tipo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo dell'attributo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Casella di spunta"/>
						<xs:enumeration value="Data (senza ora)"/>
						<xs:enumeration value="Data e ora"/>
						<xs:enumeration value="Numerico"/>
						<xs:enumeration value="Euro"/>
						<xs:enumeration value="Testo mono-riga"/>
						<xs:enumeration value="Area di testo"/>
						<xs:enumeration value="Lista di scelta"/>
						<xs:enumeration value="Strutturato"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descrizione" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrizione dettagliata dell'attributo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppartenenteA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estremi dell'eventuale attributo strutturato cui appartiene</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="NomeAttributoPadre" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nome identificativo dell'attributo di appartenenza</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LabelAttributoPadre" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Label dell'attributo di appartenenza</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="NroOrdine" type="xs:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nro d'ordine dell'attributo tra i sotto-attributi dell'attributo di appartenenza. Se non specificato si intende sia l'ultimo sotto-attributo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Obbligatorieta" fixed="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indica se l'attributo è un sotto-attributo obbligatorio dell'attributo di appartenenza</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NroCifreCaratteri" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N.ro max di caratteri se attributo alfanumerico (testo mono-riga o area di testo)  o di cifre se numerico/Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecisioneDecimale" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N.ro di cifre decimali se attributo di tipo numerico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Formato" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Formato dell'attributo (solo per atributi numerici): deve essere un formato numerico valido per Oracle RDBMS (vi possono comparire: G, che è il separatore delle migliaia; D che è il separatore decimale; le cifre 0 e 9) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValoreMin" type="xs:anySimpleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valore minimo consentito (solo per attributi di tipo: numnerico, euro, data e data e ora). In caso il tipo dell'attributo sia "Data" o "Data e ora" il valore va formattato secondo i formati standard configurati per date e timestamp; nel caso il tipo sia numerico/Euro va usata la virgola come separatore dei decimali</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValoreMax" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valore massimo consentito (solo per attributi di tipo: numnerico, euro, data e data e ora). In caso il tipo dell'attributo sia "Data" o "Data e ora" il valore va formattato secondo i formati standard configurati per date e timestamp; nel caso il tipo sia numerico/Euro va usata la virgola come separatore dei decimali</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValoreDefault" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valore di default. In caso il tipo dell'attributo sia "Data" o "Data e ora" il valore di default va formattato secondo i formati standard configurati per date e timestamp; nel caso il tipo sia numerico/Euro va usata la virgola come separatore dei decimali</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="AggListaValoriPossibili">
					<xs:annotation>
						<xs:documentation>Dati per l'aggiornamento della lista dei valori possibili nel caso il tipo sia "Lista di scelta"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ValorePossibile" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Lista dei valori possibili da aggiungere/togliere</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="DaRimuovere" fixed="1">
												<xs:annotation>
													<xs:documentation>Indica che il valore specificato era già presente ed è da eliminare (questo attributo si puà specificare solo se la modalità di aggiornamento è incrementale)</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ModalitaAggiornamento" default="C">
							<xs:annotation>
								<xs:documentation>Indica se il'aggiornamento è incrementale (rispetto ai valori già presenti) o completo (ovvero si sostituiscono gli eventuali valori già presenti)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="I|C"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="QueryPerValoriPossibili" type="xs:string">
					<xs:annotation>
						<xs:documentation>Query SQL con cui si ottengono i valori possibili per l'attributo, se è una lista di scelta. Deve essere una query con un'unica selected column</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="RestrizioniSulCase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Restrizioni sul case (da valorizzare solo se il tipo dell'attributo è: testo mono-riga; area di testo)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="LOWER|UPPER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LarghGUI" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Larghezza (size) con cui mostrare nelle GUI il campo corrispondente all''attributo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AltezzaGUI" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Altezza (n.ro righe) con cui mostrare nelle GUI il campo corrispondente all''attributo (da valorizzare solo se il tipo è "Area di testo")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggACL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dati per aggiornare le limitazioni di accesso (ACL) dell'attributo</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="EliminaTutti" fixed="1">
							<xs:annotation>
								<xs:documentation>Indica che l'ACL deve essere ripulita, ovvero che tutti hanno accesso completo all'atributo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AggACE" type="AggACLRecordType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Contiene gli aggiornamenti dei privilegi sull'attributo: se il soggetto indicato nell'elemento non era già presente nell'ACL dell'attributo viene aggiunto un record nell'ACL stessa, altrimenti il soggetto puo essere eliminato dall'ACL o possono essere aggiornati i suoi privilegi. I soggetti già in ACL e non presenti in questo elemento restano nell'ACL  esattamente come erano.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserType">
		<xs:choice>
			<xs:element name="IdInSistemaEsterno" type="IdInSistemaEsternoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id. dell'utente nell'applicazione che invoca il WS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdInterno" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id. dell'utente all'interno del sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsernameInterna" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Username con cui l'utente si autentica al sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Descrizione" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrizione dell'utente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NroMatricola" type="xs:string" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="NroLivelloGerarchiaType">
		<xs:annotation>
			<xs:documentation>Nro di un livello di una struttura gerarchica come la struttura organizzativa o il titolario di classificazione: 1 è il livello più alto (ad esempio il settore o il titolo), 2 il successivo (ad esempio il servizio o la classe) e così via</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodLivelloGerarchiaType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="LivelloGerarchiaType">
		<xs:attribute name="Nro" type="NroLivelloGerarchiaType" use="required">
			<xs:annotation>
				<xs:documentation>N.ro d'ordine del livello</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Codice" type="CodLivelloGerarchiaType" use="required">
			<xs:annotation>
				<xs:documentation>Codice identificativo del livello</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="IdInSistemaEsternoType">
		<xs:annotation>
			<xs:documentation>Codice che identifica un oggetto in un sistema esterno</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SoggettoInternoType">
		<xs:annotation>
			<xs:documentation>Rappresenta un soggetto interno all'AOO che può essere: una UO, un utente, una scrivania virtuale (che rappresenta l'utente non come persona, ma nella funzione che svolge presso una certa UO), un gruppo (di utenti o UO o scrivanie virtuali) o un ruolo amministrativo (es: Dirigente, Direttore Generale ecc). Quando si assegna ad un gruppo o un ruolo il sistema assegna a tutti gli utenti, UO e scrivanie del gruppo o aventi il ruolo</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="UO" type="UOType"/>
			<xs:element name="Utente" type="UserType"/>
			<xs:element name="ScrivaniaVirtuale" type="ScrivaniaVirtualeType"/>
			<xs:element name="Gruppo" type="OggDiTabDiSistemaType"/>
			<xs:element name="RuoloAmmContestualizzato" type="RuoloAmmContestualizzatoType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SoggettoInternoEstesoType">
		<xs:complexContent>
			<xs:extension base="SoggettoInternoType">
				<xs:sequence>
					<xs:element name="NaturaRelazioneConFolder" type="OggDiTabDiSistemaType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RuoloAmmContestualizzatoType">
		<xs:annotation>
			<xs:documentation>Rappresenta un ruolo amministrativo eventualmente circoscritto ad un certo livello della struttura organizzativa piuttosto che ad una specifica UO (es: Dirigente, Dirigente di Settore, Dirigente del settore X, Dirigenti dei Servizi del Settore X, Segretarie del Settore dell'Ufficio X)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RuoloAmm" type="OggDiTabDiSistemaType"/>
			<xs:choice>
				<xs:element name="VsLivelloUO" type="NroLivelloGerarchiaType" minOccurs="0"/>
				<xs:element name="VsTipoUO" type="OggDiTabDiSistemaType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="VsUO" type="UOEstesaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UOUserType">
		<xs:choice>
			<xs:element name="UO" type="UOType"/>
			<xs:element name="Utente" type="UserType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UOEstesaType">
		<xs:complexContent>
			<xs:extension base="UOType">
				<xs:sequence>
					<xs:element name="FlagIncluseSottoUO" type="FlagSiNoType" default="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoggettoInternoInACLType">
		<xs:choice>
			<xs:element name="InteroEnte" fixed="1"/>
			<xs:element name="InteraAOO" fixed="1"/>
			<xs:element name="ScrivanieDiUO" type="UOEstesaType"/>
			<xs:element name="Utente" type="UserType"/>
			<xs:element name="ScrivaniaVirtuale" type="ScrivaniaVirtualeType"/>
			<xs:element name="Gruppo" type="OggDiTabDiSistemaType"/>
			<xs:element name="RuoloAmmContestualizzato" type="RuoloAmmContestualizzatoType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AggACLRecordType">
		<xs:complexContent>
			<xs:extension base="SoggettoInternoInACLType">
				<xs:choice>
					<!-- segue la lista dei possibili privilegi sul folder-->
					<xs:element name="FlagElimina" fixed="1">
						<xs:annotation>
							<xs:documentation>Indica se il soggetto deve essere eliminato dall'ACL (qualora vi fosse già presente)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:element name="Visualizzazione" type="FlagConsentiNegaType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Abilitazione alla visualizzazione dell'attributo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Editing" type="FlagConsentiNegaType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Abilitazione alla modifica (intesa anche come cancellazione del valore)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ModifyAttrCustom">
		<xs:annotation>
			<xs:documentation>ROOT element dello schema</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NomeAttributo">
					<xs:annotation>
						<xs:documentation>Attuale nome identificativo dell'attributo da aggiornare</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DatiDaAggiornare" type="DatiAttributo">
					<xs:annotation>
						<xs:documentation>Dati dell'attributo da aggiornare. I dati relativi a tag non presenti si intendono rimanere invariati</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
