integ-stilo/src/main/resources/wsdl/PossibiliDestinatariOsservazioniSuUD.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Andrea Campello (Engineering) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="FlagSiNoType">
		<xs:annotation>
			<xs:documentation>1=Sì, 0=No</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdInSistemaEsternoType">
		<xs:annotation>
			<xs:documentation>Codice che identifica un oggetto in un sistema esterno</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OggDiTabDiSistemaType">
		<xs:annotation>
			<xs:documentation>Rappresenta un oggetto censito in una tabella di sistema del sistema documentale</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificativo del dato di sistema nella banca dati del sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decodifica_Nome" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NroLivelloGerarchiaType">
		<xs:annotation>
			<xs:documentation>Nro di un livello di una struttura gerarchica come la struttura organizzativa o il titolario di classificazione: 1 è il livello più alto (ad esempio il settore o il titolo), 2 il successivo (ad esempio il servizio o la classe) e così via</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodLivelloGerarchiaType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="LivelloGerarchiaType">
		<xs:attribute name="Nro" type="NroLivelloGerarchiaType" use="required"/>
		<xs:attribute name="Codice" type="CodLivelloGerarchiaType" use="required"/>
	</xs:complexType>
	<xs:complexType name="UOType">
		<xs:annotation>
			<xs:documentation>Indica una UO attraverso il suo identificativo, i suoi livelli e attraverso la sua denominazione. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdUO" type="xs:integer"/>
			<xs:element name="LivelloUO" type="LivelloGerarchiaType" maxOccurs="unbounded"/>
			<xs:element name="DenominazioneUO" type="xs:string">
				<xs:annotation>
					<xs:documentation>La denominazione della UO preceduta dalle denominazioni delle UO di livello superiore (separate da " | "). Es:   "Settore Edilizia | Ufficio Rilasci"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserType">
		<xs:sequence>
			<xs:element name="IdInSistemaEsterno" type="IdInSistemaEsternoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificativo dell'utente nel sistema che invoca il Web Service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdInterno" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Id. dell'utente all'interno del sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decodifica_CognomeNome" type="xs:string">
				<xs:annotation>
					<xs:documentation>Descrizione / cognome e nome dell'utente nel sistema documentale</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScrivaniaVirtualeType">
		<xs:annotation>
			<xs:documentation>La scrivania virtuale rappresenta un utente non come persona fisica, ma nella funzione che svolge presso una certa UO. Può essere indicata univocamente indicando UO e utente; oppure il sistema può cercare di identificarla anche o solo a partire dalla sua descrizione</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="UO" type="UOType"/>
			<xs:element name="Utente" type="UserType"/>
			<xs:element name="DesScrivaniaVirt" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RuoloAmmContestualizzatoType">
		<xs:annotation>
			<xs:documentation>Rappresenta un ruolo amministrativo eventualmente circoscritto ad un certo livello della struttura organizzativa piuttosto che ad una specifica UO (es: Dirigente, Dirigente di Settore, Dirigente del settore X, Dirigenti dei Servizi del Settore X, Segretarie del Settore dell'Ufficio X)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RuoloAmm" type="OggDiTabDiSistemaType"/>
			<xs:choice>
				<xs:element name="VsLivelloUO" type="NroLivelloGerarchiaType" minOccurs="0"/>
				<xs:element name="VsTipoUO" type="OggDiTabDiSistemaType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="VsUO" type="UOEstesaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoggettoInternoType">
		<xs:annotation>
			<xs:documentation>Rappresenta un soggetto interno all'AOO che può essere: una UO, un utente, una scrivania virtuale (che rappresenta l'utente non come persona, ma nella funzione che svolge presso una certa UO), un gruppo (di utenti o UO o scrivanie virtuali) o un ruolo amministrativo (es: Dirigente, Direttore Generale ecc). Quando si assegna ad un gruppo o un ruolo il sistema assegna a tutti gli utenti, UO e scrivanie del gruppo o aventi il ruolo</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="UO" type="UOEstesaType"/>
			<xs:element name="Utente" type="UserType"/>
			<xs:element name="ScrivaniaVirtuale" type="ScrivaniaVirtualeType"/>
			<xs:element name="Gruppo" type="OggDiTabDiSistemaType"/>
			<xs:element name="RuoloAmmContestualizzato" type="RuoloAmmContestualizzatoType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UOEstesaType">
		<xs:complexContent>
			<xs:extension base="UOType">
				<xs:sequence>
					<xs:element name="FlagIncluseSottoUO" type="FlagSiNoType" default="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Lista">
		<xs:annotation>
			<xs:documentation>ROOT element dello schema. E' la lista dei soggetti interni cui possono essere inviate osservazioni e commenti su un'unità documentaria (coloro a cui è già stata notificata e/o inviata o che ne sono gli autori)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PossibileDestinatario" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dati identificativi del possibile destinatario di osservazioni / commenti</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SoggettoInternoType">
								<xs:sequence>
									<xs:element name="Descrizione" type="xs:string">
										<xs:annotation>
											<xs:documentation>Descrizione/dati salienti del soggetto</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FlagAutore" fixed="1" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Se presente indica che il possibile destinatario è l'autore del documento (ovvero chi l'ha caricato a sistema)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FlagAssegnatario" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Se presente indica che il possibile destinatario di osservazione è un soggetto interno che ha o ha avuto copia del documento (cioè un destinatario di invio)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="Attuale" fixed="1">
												<xs:annotation>
													<xs:documentation>Se presente indica che il possibile destinatario è un assegnatario attuale del documento, cioè uno che ne ha oggi una coia assegnata</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="DataPrimaNotifica" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora da cui decorre la prima notifica al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DataUltimaNotifica" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora da cui decorre l'ultima notifica/osservazione al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DataInizioPrimaAssegnazione" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora da cui decorre la prima assegnazione al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DataFinePrimaAssegnazione" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora di fine della prima assegnazione al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DataInizioUltimaAssegnazione" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora da cui decorre l'ultima assegnazione al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DataFineUltimaAssegnazione" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data e ora di fine dell'ultima assegnazione al soggetto (nel formato del parametro di config. FMT_STD_TIMESTAMP)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
