integ-notier/src/main/resources/notier/xsd/ddt1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomizationID" type="xs:string" />
  <xs:element name="ProfileID" type="xs:string" />
  <xs:element name="ID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="schemeID" type="xs:unsignedByte" use="optional" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueDate" type="xs:date" />
  <xs:element name="Note" type="xs:string" />
  <xs:element name="EndpointID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="schemeID" type="xs:unsignedByte" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="StreetName" type="xs:string" />
  <xs:element name="CityName" type="xs:string" />
  <xs:element name="PostalZone" type="xs:unsignedShort" />
  <xs:element name="CountrySubentity" type="xs:string" />
  <xs:element name="IdentificationCode" type="xs:string" />
  <xs:element name="RegistrationName" type="xs:string" />
  <xs:element name="Name" type="xs:string" />
  <xs:element name="Telephone" type="xs:unsignedInt" />
  <xs:element name="AdditionalStreetName" type="xs:string" />
  <xs:element name="Information" type="xs:string" />
  <xs:element name="GrossWeightMeasure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unitCode" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalTransportHandlingUnitQuantity" type="xs:unsignedByte" />
  <xs:element name="DeliveredQuantity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedShort">
          <xs:attribute name="unitCode" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineID" type="xs:unsignedByte" />
  <xs:element name="DocumentType" type="xs:string" />
  <xs:element name="LotNumberID" type="xs:unsignedInt" />
  <xs:element name="ExpiryDate" type="xs:date" />
</xs:schema>